@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ubuntu Sans';
    src: url('/fonts/Ubuntu-Sans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ubuntu Sans';
    src: url('/fonts/Ubuntu-Sans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ubuntu Condensed';
    src: url('/fonts/Ubuntu-Condensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  html, body {
    font-family: 'Ubuntu Sans', sans-serif;
  }
